@import "tailwindcss";

:root {
  --font-brand: "Sansita One", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font-sub: "Jersey 25", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
.font-brand { font-family: var(--font-brand); }
.font-sub { font-family: var(--font-sub); }
